<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <style>
        p {
            font-family: 'Ubuntu', sans-serif;
        }

        button {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .container {
            /*background-color: yellow;*/
            margin-top: 150px;

        }
    </style>
</head>
<body>

<button class="btn btn-sm" style="background-color: #e9ecef; margin: 10px 0 0 10px;"
        th:onclick="|location.href='@{/login}'|" type="button">
    로그인
</button>

<button class="btn btn-sm" style="background-color: #e9ecef; margin:  10px 0 0 10px;"
        th:onclick="|location.href='@{/join}'|" type="button">
    회원가입
</button>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <p style="font-size: 4em">Green Thumb</p>
    </div>


    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-success btn-lg"
                    th:onclick="|location.href='@{/plant}'|" type="button">
                식물 검색
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-success btn-lg"
                    th:onclick="|location.href='@{/questionList}'|" type="button">
                커뮤니티
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-success btn-lg"
                    th:onclick="|location.href='@{/login}'|" type="button">
                장소 추천
            </button>
        </div>
    </div>
<!--    <hr class="my-4">-->

</div> <!-- /container -->
</body>
</html>