<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <style>
        p {
            font-family: 'Ubuntu', sans-serif;
        }

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .container {
            /*background-color: yellow;*/
            margin-top: 150px;

        }

        body {
            background-color: #F8FBEF;
        }
    </style>
</head>
<body>

<!--<button class="btn btn-sm" style="background-color: #e9ecef; margin: 10px 0 0 10px;"-->
<!--        th:onclick="|location.href='@{/login}'|" type="button">-->
<!--    로그인-->
<!--</button>-->

<!--<button class="btn btn-sm" style="background-color: #e9ecef; margin:  10px 0 0 10px;"-->
<!--        th:onclick="|location.href='@{/join}'|" type="button">-->
<!--    회원가입-->
<!--</button>-->


<div th:if="${user}" style="margin-top: 10px">
    <span class="mx-3" th:text="|${user}님 안녕하세요!|"></span>
    <a href="/logout" class="btn btn-outline-dark btn-sm">로그아웃</a>
</div>

<div th:if="!${user}" style="margin-top: 10px">
    <a href="/login" class="btn btn-outline-dark btn-sm" style="margin-left: 10px">로그인</a>
    <a href="/join" class="btn btn-outline-dark btn-sm" style="margin-left: 4px">회원가입</a>
</div>




<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <p style="font-size: 4em">Green Thumb</p>
    </div>


    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-success btn-lg"
                    th:onclick="|location.href='@{/plant}'|" type="button">
                식물 검색
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-success btn-lg"
                    th:onclick="|location.href='@{/questionList}'|" type="button">
                커뮤니티
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-success btn-lg"
                    th:onclick="|location.href='@{/place}'|" type="button">
                장소 추천
            </button>
        </div>
    </div>
<!--    <hr class="my-4">-->

</div> <!-- /container -->
</body>
</html>