<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Tinos:wght@700&display=swap" rel="stylesheet">

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

        * {
            font-family: 'Tinos', 'Noto Sans KR', sans-serif;
        }

    </style>
</head>

<body>


<div class="py-5 text-center" style="margin-top:150px;">
    <h1>Sign Up</h1>
</div>


<div class="d-flex justify-content-center">
    <form th:action="@{/join}" method="post" th:object="${userRequestDto}" >


        <div>
<!--            <label for="username">ID</label>-->
            <input style="width: 500px" type="text" id="username" th:field="*{username}" class="form-control"
                   placeholder="아이디를 입력하세요" th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}" />
        </div>

        <div style="margin-top: 20px;"></div>

        <div>
<!--            <label for="password">비밀번호</label>-->
            <input style="width: 500px" type="password" id="password" th:field="*{password}" class="form-control"
                   placeholder="비밀번호를 입력하세요" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>


        <div style="margin-top: 50px;"></div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">회원가입</button>
            <div style="width: 6px"></div>
            <a href="/" class="btn btn-outline-dark">이전으로</a>
        </div>

    </form>
</div>
</div>
</body>
</html>