<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>


<div class="py-5 text-center">
    <h2>회원가입 페이지</h2>
</div>

<div class="container col-md-8">
    <form th:action="@{/join}" method="post" th:object="${userRequestDto}" >


        <div>
            <label for="username">ID</label>
            <input type="text" id="username" th:field="*{username}" class="form-control"
                   placeholder="아이디를 입력하세요" th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}" />
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"
                   placeholder="비밀번호를 입력하세요" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>



        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</body>
</html>