<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Tinos:wght@700&display=swap" rel="stylesheet">

    <style>

        * {
            font-family: 'Tinos', 'Noto Sans KR', sans-serif;
        }

        body {
            background: url(/img/ano.png) no-repeat center fixed;
            background-size: cover;
            /*background-color: #F8FBEF;*/
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

        .card-text {
            font-size: medium;
        }

        .blockquote-footer {
            font-size: small;
        }

        .title {
            font-weight: bold;
        }

        .info {
            font-size: small;
        }

        .category {
            color: #198754;
            font-weight: bold;
            font-size: medium;
        }

        .buttons {
            align-items: flex-end;
        }


    </style>
</head>
<body>

<div class="py-3" style="margin-left: -1300px; margin-top: -10px">

    <button class="w-100 btn btn-lg" style="font-size: 2em;"
            th:onclick="|location.href='@{/}'|" type="button">
        Green Thumb
    </button>

    <!--    <a href="/" style="font-size: 2em; border: none;">Green Thumb</a>-->

</div>
<!--<div style="margin-top: 10px">-->
<!--    <a href="/" class="btn btn-outline-dark btn-sm" style="margin-left:10px; border: none; text-decoration: underline">Home</a>-->
<!--    <a href="/logout" class="btn btn-outline-dark btn-sm" style="border: none; text-decoration: underline">Sign Out</a>-->
<!--    <a href="/logout" class="btn btn-outline-dark btn-sm" th:text="|${user}'s page|" style="border: none; text-decoration: underline">Sign Out</a>-->
<!--</div>-->

<div class="container">


    <div style="margin-top: 70px;"></div>


    <div class="d-flex justify-content-between">

        <div class="info">
            <div class="category" th:text="${post.category}">작성일</div>
            작성자 : <div style="display:inline;" th:text =="${post.user.username}">작성자</div>
            &nbsp;&nbsp;작성일 : <div style="display:inline;" th:text ="${post.created}">작성일</div>
            <div th:if="${post.fileId != null}">
                첨부파일 :
                <a
                        th:class="card-text"
                        th:href="@{'/download/' + ${post.fileId}}"
                        th:text="${file.origFilename}"
                ></a>
            </div>
        </div>


        <div class="d-flex justify-content-end buttons">
            <div class="row">
                <div class="col-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" th:onclick="|location.href='@{/post/{postId}/update(postId=${post.id})}'|">수정</button>
                        <button type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{/post/{postId}/delete(postId=${post.id})}'|">삭제</button>

                        <button class="btn btn-outline-dark" th:if="${post.category.toString().equals('질문게시판')}"  th:onclick="|location.href='@{/questionList}'|">목록으로</button>
                        <button class="btn btn-outline-dark" th:if="${post.category.toString().equals('나눔게시판')}"  th:onclick="|location.href='@{/sharingList}'|">목록으로</button>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <hr class="my-4">



    <div>
<!--        <label for="postTitle">제목</label>-->
<!--        <input type="text" id="postTitle" name="postTitle" class="form-control"-->
<!--               value="제목" th:value="${post.title}" readonly>-->
    </div>



    <h3 class="title" th:text ="${post.title}">제목 입니다.</h3>
    <br>
    <p th:text ="${post.content}">내용이 들어갈 부분입니다.</p>

    <br>

<!--    <div>-->
<!--        <label for="postContent">내용</label>-->
<!--        <textarea class="form-control" rows="5"-->
<!--                  id="postContent" name="postContent"-->
<!--                  th:value="${post.content}" th:text="${post.content}" readonly></textarea>-->
<!--    </div>-->

<!--    <div>-->
<!--        <label for="registerDate">작성일</label>-->
<!--        <input type="text" id="registerDate" name="registerDate" class="form-control"-->
<!--               value="작성자" th:value="${post.created}" readonly>-->
<!--    </div>-->


    <div th:if="${post.fileId != null}">
        <img th:src="@{'/download/' + ${post.fileId}}" width="500px" height="auto" onError="this.style.visibility='hidden'">
    </div>

    <hr class="my-4">


    <form class="input-group mb-3" id="reply" th:action='@{/comment/create/{postId}(postId=${post.id})}' method="post">
        <input type="text" id="comment" name="comment" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
        <input type="hidden" id="postId" name="postId" th:value="${post.id}">
        <button class="btn btn-outline-secondary" type="submit">등록</button>
    </form>


<!--        <div class="input-group mb-3">-->
<!--            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">-->
<!--            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>-->
<!--        </div>-->

    <div th:if="${comments != null}">
        <tr th:each="c : ${comments}">
            <td>
<!--                <div class="card">-->
<!--                    <h5 class="card-header" th:text="${c.username}">Featured</h5>-->
<!--                    <div class="card-body">-->
<!--&lt;!&ndash;                        <h5 class="card-title">Special title treatment</h5>&ndash;&gt;-->
<!--                        <p class="card-text" th:text="${c.comment}">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="card">
                    <div class="card-header" th:text="${c.username}">
                        Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="card-text" th:text="${c.comment}">With supporting text below as a natural lead-in to additional content.</p>
                            <footer class="blockquote-footer" th:text="${c.created}">Someone famous in </footer>
                        </blockquote>
                    </div>
                </div>


                <div style="height: 6px"></div>

            </td>

    </div>





<!--    <div th:if="${comments != null}">-->
<!--        <tr th:each="c : ${comments}">-->
<!--            <td th:text="${c.id}"></td>-->
<!--            <td th:text="${c.comment}"></td>-->
<!--            <td th:text="${c.username}"></td>-->
<!--    </div>-->
</div> <!-- /container -->

</body>

