<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 등록</h2>
    </div>
    <form th:action th:object="${postRequestDto}" method="post" enctype="multipart/form-data">
        <div>
            <select th:field="*{category}" class="form-select">
                <option value="">카테고리를 선택해주세요</option> <!--선택안한 비어있는값-->
                <option value="질문게시판">질문 게시판</option>
                <option value="나눔게시판">나눔 게시판</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="title" class="col-sm-2 col-form-label">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{title}" />
        </div>

        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" rows="5"
                      id="content" name="content" th:value="*{content}"></textarea>
        </div>

<!--        <div class="form-group row">-->
<!--            <label for="inputFile" class="col-sm-2 col-form-label">첨부 파일</label>-->
<!--            <div class="col-sm-10">-->
<!--                <div class="custom-file" id="inputFile">-->
<!--                    <input name="file" type="file" class="custom-file-input" id="customFile" />-->
<!--                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="mb-3">
            <label for="inputFile" class="col-sm-2 col-form-label">첨부 파일</label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="file" type="file" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                </div>
            </div>
        </div>


        <hr class="my-4">

        <button class="btn btn-success btn-lg" type="submit">
            작성
        </button>
        <button class="btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/postList}'|"
                type="button">
            취소
        </button>

    </form>

</div>
</body>