<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Tinos:wght@700&display=swap" rel="stylesheet">

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

        * {
            font-family: 'Tinos', 'Noto Sans KR', sans-serif;
        }

        body {
            background: url(/img/ano.png) no-repeat center fixed;
            background-size: cover;
            /*background-color: #F8FBEF;*/
        }


    </style>
</head>
<body>

<div class="py-3" style="margin-left: -1300px; margin-top: -10px">

    <button class="w-100 btn btn-lg" style="font-size: 2em;"
            th:onclick="|location.href='@{/}'|" type="button">
        Green Thumb
    </button>

    <!--    <a href="/" style="font-size: 2em; border: none;">Green Thumb</a>-->

</div>

<div class="container" style="margin-top: -50px">
    <div class="py-5 text-center">
<!--        <h2>게시글 등록</h2>-->
    </div>
    <form th:action th:object="${postRequestDto}" method="post" enctype="multipart/form-data">
        <div>
            <select style="width: 400px" th:field="*{category}" class="form-select">
                <option value="">카테고리를 선택해주세요</option> <!--선택안한 비어있는값-->
                <option value="질문게시판">질문 게시판</option>
                <option value="나눔게시판">나눔 게시판</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="title" class="col-sm-2 col-form-label">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{title}" />
        </div>

        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" rows="5"
                      id="content" name="content" th:value="*{content}"></textarea>
        </div>

<!--        <div class="form-group row">-->
<!--            <label for="inputFile" class="col-sm-2 col-form-label">첨부 파일</label>-->
<!--            <div class="col-sm-10">-->
<!--                <div class="custom-file" id="inputFile">-->
<!--                    <input name="file" type="file" class="custom-file-input" id="customFile" />-->
<!--                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="mb-3">
            <label for="inputFile" class="col-sm-2 col-form-label">첨부 파일</label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="file" type="file" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                </div>
            </div>
        </div>


        <hr class="my-4">

        <button class="btn btn-success" type="submit">
            작성
        </button>
        <button class="btn btn-secondary"
                th:onclick="|location.href='@{/}'|"
                type="button">
            취소
        </button>

    </form>

</div>
</body>